

/* ---- /1GLndW2MJn7japuF3X2tbfBqgPMR52zaLQ/css/button.css ---- */


.button {
    margin-left: 10px;
    background-position: left center;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-out ;
    color: #333;
    padding: 6px 13px;
    margin-top: 14px;
    background-color: #b5ecec;
    border-bottom: 2px solid #6be6d5;
    font-size: 16px;
    border-radius: 16px
}

.button:hover {
    background-color: #FFF400;
    border-color: white;
    border-bottom: 2px solid #4D4D4C;
    -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none ;
    color: inherit
}

.button:active {
    position: relative;
    top: 1px
}